<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
	<title>Server Command Line</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<style>
.command_area {
    background:black;
    color:#0fc;
    padding:1rem;
    margin:1rem;
    font-size:1.2rem;
    height:30vh;
    overflow:auto;
}
</style>

</head>
<body>

    <h1 class="bg-primary text-white text-center">Server Command Line</h1>


    <main class="container">
    
        <div>
            <a href="{% url 'logout' %}">ログアウト</a>
        </div>


        <form class="m-2" action="" method="POST">
            {% csrf_token %}
            <div class="input-group">
                <input class="form-control" type="text" name="command" placeholder="実行するコマンド" maxlength="300" autofocus>
                <div class="input-group-append">
                    <input class="form-control btn btn-outline-primary" type="submit" value="実行">
                </div>
            </div>
        </form>
    
        <h2>実行結果</h2>
        <div class="command_area">
            {# TISP:linebreaksbrで\nをbrタグに変換させる。 #}
            {% for message in messages %}
            <div>{{ message|linebreaksbr }}</div>
            {% endfor %}
        </div>

        <h2>実行履歴</h2>
        <div class="command_area">
            {% for history in histories %}
            <div>{{ history.dt }}: {{ history.command }}</div>
            {% endfor %}
        </div>
    
    </main>



</body>
</html>

